h1,
h2,
h3,
h4 {
  font-family: 'Andika', sans-serif;
}

h1{
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

p, h5 {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #BAE3E3;
}

a:active {
  color: #FDEC00;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
