/*=== nav menu ===*/

.logo {
  float: left;
  max-width: 200px;
  overflow: auto;
}

/*=== Top navigation ===*/
.navigation {
  margin: 20px;
}
.nav-tab:hover {
  color: #E6CE1D;
}
.nav-tab:active {
  color: #FDEC00;

}

/*=== Filter menu ===*/
.filter-style {
  background-color: #F3F3F3;
  border-radius: 2px;
}

.filter-style select {
  border: none;
  background-color: transparent;
  padding: 5px 8px;
  width: 85%;
  text-align: center;
}

.filter-style select option {
  font-family:"FontAwesome";
}

.liked {
  color: red;
}
/*=== Film container ===*/

.filmContainer {
  border-bottom: 2px dotted #BAE3E3;
}

.filmCaption {
  background-color: #f9f9f9;
}

.filmImg {
  border-radius: 10px;
}

/*select:focus,
select:hover {
  background-color: #FDEC00;
<<<<<<< HEAD
} */

/*=== About page ===*/

.profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 20px;
}

/*=== Modal window ===*/

.modalDialog .filmContainer {

}

.modalDialog {
    display: none;
    overflow: auto;
    background: rgba(41,39,42,.96);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #f3f3f3;
    top: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    /*opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;*/
    /*pointer-events: none;*/
}

.modalDialog:target {
	opacity:1;
	/*pointer-events: auto;*/
}

.modalDialog > div {
    width: 90%;
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    padding: 20px 40px 13px 20px;
    background: #403f45;

}

.close {
    color: #fff;
    line-height: 25px;
    position: absolute;
    top: 10px;
    left: 12px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    -moz-border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
}

.headline {
    margin-bottom: 5rem;
    position: relative;
}
.headline:after {
    background-color: #fff;
    bottom: -2.5rem;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -1.25rem;
    position: absolute;
    width: 2.5rem;
}

.position {
  position: relative;
    padding: 10px;
}


.close:hover { background: #00d9ff; }

.screen-project {
    background-color: rgba(41,39,42,.9);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding: 100px;
    align-items: center;
    position: relative;
}

.scrollprevent {
  overflow: hidden;
}

/*.screen-project:before {
    background-color: rgba(41,39,42,.9);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}*/
/*Layout*/

.showcase-half {
    width: 50%;
    float:left;
    height: auto;
}

.showcase-full {
    margin: 20px;
    width: 60%;
}

.youtube-player {
  z-index: 1;
}
